@import url("reset.css");
@import url("layout.css");
@import url("fonts.css");
@import url("responcive.css");
@import url("stylegallery.css");

@font-face {
  font-family: "JustCosmic";
  src: url("../fonts/just-cosmic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
